<div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="{{ design.image.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ design.name }}</h5>
        <h6 class="card-title">Area: {{ design.total_area }}m2 </h6>
        <h6 class="card-title">Price: from ${{ design.price }} </h6>
        <p class="card-text">{{ design.description | truncatewords:10 }}</p>
        <a class="btn btn-primary" href="{% url 'design details' design.id %}">See more</a>
        {% if design.can_edit %}
            <a class="btn btn-primary" href="">Edit</a>
        {% endif %}
        {% if design.can_delete %}
            <a class="btn btn-primary" href="">Delete</a>
        {% endif %}
    </div>
</div>
