{% load static %}
<style>
    .navbar a {
        color: rgba(255, 255, 255, 0.5);
    }
</style>

<nav>
    <ul>
        <li class="logo"><img src="{% static 'images/logo.png' %}" alt="logo" class="image-logo"/></li>
        <li><a class="{% if current_page == 'home' %}active{% endif %}" href="{% url 'index' %}">Home</a>
        </li>

        <li><a class="{% if current_page == 'list_designs' %}active{% endif %}" href="{% url 'list designs' %}">All
            designs</a>
        </li>
        {% if user.is_authenticated and user.is_active %}
            <li><a class="{% if current_page == 'create_designs' %}active{% endif %}" href="{% url 'create design' %}">Add design</a>
            </li>
            <li><a class="{% if current_page == 'my_designs' %}active{% endif %}" href="{% url 'my_profile' %}">{{ user.username }}</a>
            </li>
            <li class="about"><a href="{% url 'logout user' %}">Logout</a>
            </li>
        {% else %}
            <li><a href="{% url 'login user' %}">Login</a>
            </li>

        {% endif %}

        <li><a href="#">Contact</a>
        </li>

        <li class="about"><a href="#">About</a></li>
    </ul>
</nav>
