{% extends 'common/base.html' %}
{% load static %}
{% block styles %}


{% endblock %}

{% block site_title %}
    About
{% endblock %}


{% block content %}
    <div class="jumbotron">
    <div class="container">
        <h2 >Architects and Designers.</h2>
        <h3 >Unlock your idle assets, list your house plans and grow your business with Archicad.gam</h3>
        <p>Hello prospective designers and architects:</p>
        <p class="text-justify text-left">Thinking about selling your home plans through us? We're the top online provider of ready-made house plans,
            and we make your plans available for purchase to hundreds of thousands of motivated shoppers every month at
            no cost to you. Our network of house plan sites is owned by Hanley Wood, the premier data and media company
            serving the residential, design, and commercial construction industry, and the publisher of well-known
            magazines.
            We want to add high quality home plans -- by professional architects and designers -- that are relevant for
            today's living. We're looking for plans that stand out because of superior design and strong visual
            representation through professional photos or photorealistic renderings, front, side, and rear elevations,
            and thorough information about the plan. At this time, we are particularly interested in plans that fall in
            the range of 200-700 square meters with three or four bedrooms, especially farmhouse, craftsman, and
            contemporary styles.
        </p>
        <p>The benefits of publishing with Houseplans:</p>
        <ul>
            <li>• Increase your personal income</li>
            <li>• Enjoy repeat revenue without having to devote hours to a client.</li>
            <li>• Get the opportunity for exposure on our network of six house plan sites, each supported by a robust
                marketing program that includes email, blog, print, and digital publications.
            </li>
            <li>• Be represented by knowledgeable sales professionals who know your plans and the customers.</li>
            <li>• Pay no fees to join.</li>
            <li>• Benefit from a high level of customer satisfaction by partnering with the industry leader, offering
                customers free one-on-one professional advice and comprehensive online services such as Cost-to-Build
                estimating and Modification services.
            </li>
            <li>• Every month, hundreds of house plan shoppers search our site. We have a superior search product and
                the most compelling site in the industry. More than 2 leading professional designers and architects
                already offer their plans through our Website.
            </li>
        </ul>
        <p>To be considered for partnership, please email me at any@gmail.com and include:</p>
        <ul>
            <li>• a representative plan & elevation</li>
            <li>• any relevant information about your practice, including any other sites on which you sell plans</li>
            <li>• a website link if appropriate</li>
            <li>• number of plans ready to publish</li>
            <li>• your contact information</li>
        </ul>


    </div>
    </div>
{% endblock %}


